/*  **************** option-box color **************************/
.option-box .color-option{
border: 2px solid rgb(14, 108, 231);
}

.option-box i {
    color: rgb(126, 191, 228);
    border: 1px solid white;
}

.option-box .color-option ul li:hover{
  border: 2px solid white;
}


/*  *********************************************************************   menu list  */
.nanvbar .form-control:focus{
    background-color: rgb(16, 170, 231);
    color: rgb(182, 253, 255);
    }

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active,.option-box .color-option ul li {
    background-color: rgb(55, 0, 255);
}


.navbar-light .navbar-nav .nav-link:hover,.option-box i:hover {
color: rgb(85, 104, 190);
}


.navbar-light .navbar-brand ,a.dropdown-item {
    color: rgba(51, 182, 187, 0.9);
   
}
 
/* easy padding to left*/ 
a.dropdown-item:hover {
    background-color: tomato;
    color: rgb(153, 153, 105);
}


/*  *********************************************************************         carousel  */
.carousel-caption {
    background-color: rgba(43, 41, 41, 0.5);
    color: rgb(250, 173, 7);
}


.carousel-indicators [data-bs-target] , .subcsribe   .form-control:focus{
  
    background-color: #2600ff;
}

.carousel-indicators .active {
    background-color: #0066ff49;
}
 /*  ************************************************************************         Testemonials  */

        .Testemonials span,.about h1 span{
color: tomato;
        }
.Testemonials .carousel-indicators [data-bs-target] {
    background-color: #474343;
}
.Testemonials  .carousel-indicators .active {
    background-color: #3de2f8;
}
  /*  ************************************************************************  price*****  */
  .Price,.Price .pricebox p,.features,.btn-outline-success 
  {
      background-color: #dfdfdf;
  }

.Price .pricebox
{
    background-color: white;
border: 2px solid #DDD;
}


.Price .pricebox p:hover
{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 17, 255);
}


  /*  **************************************************************  ourTeam  *****  */


.ourTeam h1,.footer a,.yaseen-color,.navbar-light .navbar-nav .nav-link {
    color: white;
}




 /*  ****************************************************************  subcsribe  *****  */

    .subcsribe{ 
        background: rgb(197, 197, 197);
    }


    /*  *************************************************************  statistic  *****  */


.statistic .filledcolor2,.contact .contactform,.fillbackground,.dropdown-menu {
    background: rgba(0, 0, 0, 0.3);
    color: rgb(38, 34, 241); 
}



.statistic .stare:hover
{
color: rgb(27, 99, 255);
}

 /*  **********************************************************************  skill  *****  */
.skill,.contact textarea,.Client{
    background-color: rgb(206, 206, 206);
}


/*  ************************************************************************  contact  *****  */

.contact .form-control:focus{
background-color: rgb(0, 183, 255);
color: white;
}

/*  *****************************************************************  footer  *****  */
.footer{
background-color: rgb(26, 26, 26);
color: rgb(157, 252, 119);
}

.footer .newstyle a:hover,.footer h3, .footer   .copyright span,.footer .socaialstyle li .fa-envelope:hover{
    color: rgb(0, 79, 143);
}
    
    .footer  .d-flex h6{
        color: rgb(136, 191, 255);
    }


    .footer .img-thumbnail{
        background: #004a8f;
        border: 1px solid #444;
    }

    .footer   .copyright{ 
background: #333;
color: rgb(0, 255, 242);
    }
